.carousel__container{
    background-repeat: no-repeat;
    background-image: url('../assets/1.png');
    background-size: cover;
    height: 100vh;
    
}
.navbar{
    display: flex;
}


.navbar nav {
    display: flex;
    text-decoration: none;
}